producer/dataset_cac40/
producer/dataset_stock/
producer/dataset_stock/*
# Ignorer les fichiers .jar compilés
*.jar

# Ignorer les dossiers de build Scala/SBT
target/

producer/project/target/
producer/project/project/

# ignorer les datasets locaux
producer/dataset_stock/data/dataset_stock/
