producer/dataset_cac40/
producer/dataset_stock/
producer/batches_simul/dataset_stock/*
# Ignorer les fichiers .jar compilés
*.jar

# Ignorer les dossiers de build Scala/SBT
target/

producer/project/target/
producer/project/project/

